<a href="https://colab.research.google.com/github/Phruetti/DPDM65/blob/main/data101(chapter3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ ใช้จัดการข้อมูลแบบตาราง ซึ่งใน pandas เรียกว่า data frame

In [ ]:
import pandas # ใช้จัดการข้อมูลแบบตาราง

In [ ]:
import pandas as pd #เปลี่ยนชื่อจาก panda เป็น pd

ไฟล์.csv

In [ ]:
data = pd.read_csv('data.csv')

In [ ]:
data

   car_id          \tmodel  \tyear  \tvalue  \tpers_id
0     101        \tbentler    1973   100000          0
1     102  \tRolls Royce\t    1965   330000          0

In [ ]:
data_df2=pd.read_csv('data.csv')
data_df2

   car_id          \tmodel  \tyear  \tvalue  \tpers_id
0     101        \tbentler    1973   100000          0
1     102  \tRolls Royce\t    1965   330000          0

#bisic python

##variable ตัวแปร คือ กล่องสำหรับเก็บข้อมูล

###ข้อกำหนดในการตั้งชื่อตัวแปร
####1 ชื่อห้ามเว้นวรรค
####2 (พยายาม) ใช้าภาษาอังกฤษ
####3 ตัวเล็กกับตัวใหญ่แตกต่างกัน (scse sensitive)
####4 ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a=12 #ชื่อห้ามเว้นวรรค
variable_b=3.14
variable_c='A' #'(quote) ไม่สามารถ +-8/ wfh
variable_d='Msc stat kku'
variable_e='5'

In [ ]:
ตัวแปรเอ=123

In [ ]:
ตัวแปรเอ

123

In [ ]:
Cat=1
cat=2

In [ ]:
Cat

1

In [ ]:
cat

2

In [ ]:
1cat=3

SyntaxError: ignored

In [ ]:
variable_x = variable_a + variable_b

In [ ]:
variable_x

In [ ]:
variable_a + variable_b #ข้อเสียไม่มีกล่องเก็บ

In [ ]:
variable_x = variable_a + variable_b + 10
variable_x

In [ ]:
print( variable_a + variable_b + 10) #ไม่ทำอะไรต่อ

In [ ]:
variable_z=variable_a
print(variable_z)

In [ ]:
variable_a = variable_a + 3
print(variable_a)
print(variable_z)

In [ ]:
print(variable_a)
print(variable_z)

In [ ]:
variable_c + variable_d

casting int() float() str() แก้ตัวแปร

In [ ]:
variable_a + variable_e

In [ ]:
variable_a + int(variable_e)

In [ ]:
variable_e + str(variable_a)

In [ ]:
#ดูตรวจสอบชนิดตัวแปร type
type(variable_e)

data structure  คือ โครงสร้างข้อมูล ให้เป็นกลุ่มเป็นก้อน เช่น เมทริกซ์ งานสับซ้อน

list

In [ ]:
list_a=[1,2,3,0.9,'aaz',variable_b] # (square brackets)
list_a

In [ ]:
list_a[5]

In [ ]:
list_a[0]

negatvie index ชี้จากข้างหลัง

In [ ]:
list_a[-2]

In [ ]:
list_b = ['pizza',list_a]
list_b

In [ ]:
list_b[1][3]

string คือ list ของตัวอักษร

In [ ]:
x = 'shabu'
x[3]

In [ ]:
print(list_a)
print(list_b)

In [ ]:
list_a + list_b

วิธีการสร้าง list
######1 สร้าง list ว่าง
######2 เพิ่มสมาชิกลงไปใน list

In [23]:
# 1 สร้าง list ว่าง
list_aa=[]
list_aa

[]

In [24]:
# 2 การเพิ่มสามาชิกลงไปใน list (.append())
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [25]:
list_aa

['chiken', 'water', 'vegetable']

In [26]:
list_aa[-1]

'vegetable'

In [27]:
list_aa.append('plate')

### list slicing
##### ถ้าเราตัดlist โดยเอาตั้งแต่[ตัวหน้า:ตัวก่อนตัวหลัง]
##### ถ้าเป็นสัญญาลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

In [28]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [29]:
list_aa[1:3]

['water', 'vegetable']

Quiz 1
ตัวส่วนของ list เหล่านี้มาจาก list_aa

1 'iken'

2 'get

3 'tab'

In [66]:
list_aa[0]

'chiken'

In [67]:
list_aa[0][2:6]

'iken'

In [ ]:
list_aa[2][2:5]

In [ ]:
list_aa[2][4:7]

In [ ]:

#เรียนต่อ
list_aa[-1][1:]

In [ ]:
list_aa[1][:3]

### Advance list slicing

::
ถ้าเราตัดlist โดยเอาตั้งแต่[ตัวหน้า:ตัวก่อนตัวหลัง:step]
ถ้าเป็นสัญญาลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

Advance list slicing

In [60]:
list_aa[2]

'vegetable'

In [61]:
list_aa[2][::]

'vegetable'

In [62]:
list_aa[2][::2]

'vgtbe'

In [63]:
list_aa[2][::-1]

'elbategev'

foemat string

f'string{variable}'

In [64]:
f'I like to eat {list_aa[2]}' # curly brackets การจัดการโดยแสกตัวแปรเข้ามาได้

'I like to eat vegetable'

In [65]:
f'9X10 = {9*10}'

'9X10 = 90'

## loop
การให้ com ทำงานซ้ำๆกัน หรือ ทำงานคล้ายๆกัน หลายๆรอบ

for ตัวแปรที่เราจะรับค่าจากลิสติ์ in  ลิสต์ที่ต้องการจะวนลูป
    do something
    do another thing
this is outside the loop

In [ ]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

ทำงานคล้ายๆกัน

In [ ]:
for i in list_aa:
  print(f'noe i is {i}')
  print(f'I like to eat {i}')

noe i is chiken
I like to eat chiken
noe i is water
I like to eat water
noe i is vegetable
I like to eat vegetable
noe i is plate
I like to eat plate

ทำงานซ้ำๆกัน

In [ ]:
for i in list_aa:
  print('ha')

ha
ha
ha
ha

In [ ]:
for x in [1,3,5,7,9]:
  print(f'this x = {x} x/2={x/2}')

this x = 1 x/2=0.5
this x = 3 x/2=1.5
this x = 5 x/2=2.5
this x = 7 x/2=3.5
this x = 9 x/2=4.5

In [ ]:
list(range(10)) # range เป็นคำสั้งที่สร้างเลขตั้งแต่ 0-10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(30):
  print(f'ha{i}',end='')

ha0ha1ha2ha3ha4ha5ha6ha7ha8ha9ha10ha11ha12ha13ha14ha15ha16ha17ha18ha19ha20ha21ha22ha23ha24ha25ha26ha27ha28ha29

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(5,100,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

### nosted loop ลูปซ้อนลูป

In [12]:
for i in range(3):
  #print(f'i={i}')
  for j in range(2):
  #  print(f'j={j}')
    print(f'i={i}, j={j},i+j={i+j}')

i=0, j=0,i+j=0
i=0, j=1,i+j=1
i=1, j=0,i+j=1
i=1, j=1,i+j=2
i=2, j=0,i+j=2
i=2, j=1,i+j=3

In [13]:
for i in range(3):
  for j in range(2):
   print(i+j)

0
1
1
2
2
3

Quiz 2 สร้าง list

[[1],[1,1],[1,1,1],...,[1,1,1,1,1,1,1,1,1,1]] โดยใช้ for loop

In [14]:
list_ans=[]
for i in range(1,11):
  temp =[]
  for j in range(i):
    temp.append(1)
  list_ans.append(temp)
  print(list_ans)

[[1]]
[[1], [1, 1]]
[[1], [1, 1], [1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [15]:
list_ans=[]
print(f'list_ans={list_ans}')
for i in range(1,11):
  temp =[]
  print(f'temp={temp} i={i}')
  for j in range(i):
    temp.append(1)
    print(f'temp={temp}')
  list_ans.append(temp)
  print(f'list_ans={list_ans}')
  print(list_ans)

list_ans=[]
temp=[] i=1
temp=[1]
list_ans=[[1]]
[[1]]
temp=[] i=2
temp=[1]
temp=[1, 1]
list_ans=[[1], [1, 1]]
[[1], [1, 1]]
temp=[] i=3
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1]]
[[1], [1, 1], [1, 1, 1]]
temp=[] i=4
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
temp=[1, 1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
temp=[] i=5
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
temp=[1, 1, 1, 1]
temp=[1, 1, 1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
temp=[] i=6
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
temp=[1, 1, 1, 1]
temp=[1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
temp=[] i=7
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
temp=[1, 1, 1, 1]
temp=[1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
temp=[] i=8
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
temp=[1, 1, 1, 1]
temp=[1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
temp=[] i=9
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
temp=[1, 1, 1, 1]
temp=[1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
temp=[] i=10
temp=[1]
temp=[1, 1]
temp=[1, 1, 1]
temp=[1, 1, 1, 1]
temp=[1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1, 1, 1]
temp=[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans=[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

Quiz 3

[[1],[1,2],[1,2,3],...,[1,2,3,4,5,6,7,8,9,10]] โดยใช้ for loop

In [16]:
list_ans=[]
for i in range(1,11):
  temp =[]
  for j in range(i):
    temp.append(j+1)
  list_ans.append(temp)
  print(list_ans)

[[1]]
[[1], [1, 2]]
[[1], [1, 2], [1, 2, 3]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 9]]
[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

### conditionai statement (if ststement)

if เงื่อนไขเราจะตรวจสอบ(โดยอาศัยสัญลักษณ์เหล่านี้ ==,!=,<,>,<=,>=,in,is_null()):
ถ้าเงื่อนไขเป็นจริง ทำ

elif เงื่อนไขที่จะตรวจสอบตรอไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
else: #ตรวจสอบข้างบนแล้วไม่เป็นจริง

In [1]:
if 1<5:
  print('yes')

yes

In [2]:
x=12
if x < 5:
  print('yes')
else:
    print('no')

no

Quiz 4

list_ex=[1,5,9,-19,-2,0] #หาค่าที่น้อยที่สุดใน list_ex โดยไม่ใช้ function min (ใช้ for กับ if)

In [3]:
list_ex=[1,5,9,-19,-2,0]

min =-100
for x in list_ex:
  if x < min:
    min=x

In [4]:
   print(min)

-100



list_ex=[1,5,9,-19,-2,0] #หาค่าที่มากที่สุดใน list_ex โดยไม่ใช้ function max (ใช้ for กับ if)

In [5]:
list_ex=[1,5,9,-19,-2,0]

max = 0
for x in list_ex:
  if x > max:
    max = x

In [6]:
print(max)

9

Quiz1
เขียน function แสดงความต่างของเวลาโดย input อยู่ในรูปแบบ 'XX:YY:ZZ - AA:BB:CC'

และวนลูปแสดงผลของ input ต่อไปนี้

'09:11:50 - 12:30:15'
'13:41:07 - 20:00:18'
'00:00:00 - 23:59:59'
'18:04:11 - 00:00:00'
'21:30:00 - 03:05:15'
ตัวอย่าง input '00:00:00-01:00:00'

output ช่วงระยะเวลาระหว่าง 00:00:00 ถึง 01:00:00 มีเวลาทั้งหมด 3,600 วินาที

In [69]:
time='09:11:50 - 12:30:15'

In [70]:
time.split('-')

['09:11:50 ', ' 12:30:15']

In [71]:
time.split()

['09:11:50', '-', '12:30:15']

In [75]:
det cal_time(time):
T= time.split('-')
Tstart = T[0]
Tend = T[-1]

splitS = Tstart.split(':')
Sstar = 3600*int(splitS[0]) + 60*int(splitS[1]) +int(splitS[2])

splitE = Tstart.split(':')
Send = 3600*int(splitE[0]) + 60*int(splitE[1]) +int(splitE[2])

if send< Sstart:
  return f'ช่วงระยะเวลาระหว่าง {Tstart}  ถึง {Tend} มีเวลาทั้งหมด {(send+(24*3600))-Sstart:;} วินาที'

else:
  return f'ช่วงระยะเวลาระหว่าง {Tstart}  ถึง {Tend} มีเวลาทั้งหมด {(send+(24*3600))-Sstart:;} วินาที'

SyntaxError: ignored