<a href="https://colab.research.google.com/github/Phruetti/DPDM65/blob/main/data101(chapter).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ ใช้จัดการข้อมูลแบบตาราง ซึ่งใน pandas เรียกว่า data frame

In [1]:
import pandas # ใช้จัดการข้อมูลแบบตาราง

In [2]:
import pandas as pd #เปลี่ยนชื่อจาก panda เป็น pd

ไฟล์.csv

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data

   car_id        model  year   value  pers_id
0     101      bentler  1973  100000        0
1     102  Rolls Royce  1965  330000        0