<a href="https://colab.research.google.com/github/Phruetti/DPDM65/blob/main/data101(chapter).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ ใช้จัดการข้อมูลแบบตาราง ซึ่งใน pandas เรียกว่า data frame

In [4]:
import pandas # ใช้จัดการข้อมูลแบบตาราง

In [5]:
import pandas as pd #เปลี่ยนชื่อจาก panda เป็น pd

ไฟล์.csv

In [6]:
data = pd.read_csv('data.csv')

In [7]:
data

   car_id          \tmodel  \tyear  \tvalue  \tpers_id
0     101        \tbentler    1973   100000          0
1     102  \tRolls Royce\t    1965   330000          0

In [8]:
data_df2=pd.read_csv('data.csv')
data_df2

   car_id          \tmodel  \tyear  \tvalue  \tpers_id
0     101        \tbentler    1973   100000          0
1     102  \tRolls Royce\t    1965   330000          0

#bisic python

##variable ตัวแปร คือ กล่องสำหรับเก็บข้อมูล

###ข้อกำหนดในการตั้งชื่อตัวแปร
####1 ชื่อห้ามเว้นวรรค
####2 (พยายาม) ใช้าภาษาอังกฤษ
####3 ตัวเล็กกับตัวใหญ่แตกต่างกัน (scse sensitive)
####4 ห้ามใช้ตัวเลขเป็นตัวหน้า

In [35]:
variable_a=12 #ชื่อห้ามเว้นวรรค
variable_b=3.14
variable_c='A' #'(quote) ไม่สามารถ +-8/ wfh
variable_d='Msc stat kku'
variable_e='5'

In [9]:
ตัวแปรเอ=123

In [10]:
ตัวแปรเอ

123

In [11]:
Cat=1
cat=2

In [12]:
Cat

1

In [13]:
cat

2

In [14]:
1cat=3

SyntaxError: ignored

In [19]:
variable_x = variable_a + variable_b

In [20]:
variable_x

15.14

In [21]:
variable_a + variable_b #ข้อเสียไม่มีกล่องเก็บ

15.14

In [23]:
variable_x = variable_a + variable_b + 10
variable_x

25.14

In [24]:
print( variable_a + variable_b + 10) #ไม่ทำอะไรต่อ

25.14

In [25]:
variable_z=variable_a
print(variable_z)

12

In [38]:
variable_a = variable_a + 3
print(variable_a)
print(variable_z)

15
12

In [33]:
print(variable_a)
print(variable_z)

33
12

In [34]:
variable_c + variable_d

'AMsc stat kku'

casting int() float() str() แก้ตัวแปร

In [36]:
variable_a + variable_e

TypeError: ignored

In [39]:
variable_a + int(variable_e)

20

In [40]:
variable_e + str(variable_a)

'515'

In [41]:
#ดูตรวจสอบชนิดตัวแปร type
type(variable_e)

str

data structure  คือ โครงสร้างข้อมูล ให้เป็นกลุ่มเป็นก้อน เช่น เมทริกซ์ งานสับซ้อน

list

In [42]:
list_a=[1,2,3,0.9,'aaz',variable_b] # (square brackets)
list_a

[1, 2, 3, 0.9, 'aaz', 3.14]

In [43]:
list_a[5]

3.14

In [44]:
list_a[0]

1

negatvie index ชี้จากข้างหลัง

In [45]:
list_a[-2]

'aaz'

In [49]:
list_b = ['pizza',list_a]
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [50]:
list_b[1][3]

0.9

string คือ list ของตัวอักษร

In [51]:
x = 'shabu'
x[3]

'b'

In [53]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 3.14]
['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [54]:
list_a + list_b

[1, 2, 3, 0.9, 'aaz', 3.14, 'pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

วิธีการสร้าง list
######1 สร้าง list ว่าง
######2 เพิ่มสมาชิกลงไปใน list

In [57]:
# 1 สร้าง list ว่าง
list_aa=[]
list_aa

[]

In [58]:
# 2 การเพิ่มสามาชิกลงไปใน list (.append())
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [59]:
list_aa

['chiken', 'water', 'vegetable']

In [61]:
list_aa[-1]

'vegetable'

In [65]:
list_aa.append('plate')

### list slicing
##### ถ้าเราตัดlist โดยเอาตั้งแต่[ตัวหน้า:ตัวก่อนตัวหลัง]
##### ถ้าเป็นสัญญาลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

In [66]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [67]:
list_aa[1:3]

['water', 'vegetable']

Quiz 1
ตัวส่วนของ list เหล่านี้มาจาก list_aa

1 'iken'

2 'get

3 'tab'

In [68]:
list_aa[0]

'chiken'

In [69]:
list_aa[0][2:6]

'iken'

In [70]:
list_aa[2][2:5]

'get'

In [72]:
list_aa[2][4:7]

'tab'

In [73]:

#เรียนต่อ
list_aa[-1][1:]

'late'

In [74]:
list_aa[1][:3]

'wat'