<a href="https://colab.research.google.com/github/Phruetti/DPDM65/blob/main/preprocessing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd #ดึงดดพ็คเก็ท pandas มาใช้ชื่อ pd
import numpy as np

In [4]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
project_df.tail()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [6]:
unit_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_unittype.csv')
unit_df.tail()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,บ้าน,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/อิคอนเนเจอร์-พระ...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,บ้าน,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/คาซ่า-วิลล์-ราชพ...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,ทาวน์โฮม,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/เดอะริคโค้-ทาวน์...
42623,9333,unittype_37375,project_16389,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/ณรงค์กิจ-รามอินท...
42624,780,unittype_17011,project_6762,บ้านธารา,1,Detached House,บ้าน,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/วราสิริ-รังสิต-ด...

# data cleaning

## dealing with missing data

### check missing data

In [7]:
project_df.describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,23429.000000,23434.000000,23429.000000,23415.000000,23424.000000,23425.000000,23403.000000,21547.000000,18603.000000,6820.000000,8895.000000,2890.000000,11675.000000,6277.000000,9718.000000,16123.000000
mean,11715.000000,16.399159,100.600086,4216.201751,4001.917435,3942.592231,28209.221211,199.043765,2.325861,0.724340,0.848679,0.224913,0.894304,0.697308,0.874048,0.959809
std,6763.514064,176.896370,0.947247,2476.968321,1662.485878,1663.662562,24724.177495,320.029641,2.138378,0.446879,0.358382,0.417598,0.307461,0.459460,0.331812,0.196413
min,1.000000,6.839354,97.985808,1007.000000,1006.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5858.000000,13.347151,100.400282,3414.000000,3411.000000,3372.000000,10400.000000,49.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,11715.000000,13.753725,100.601281,3802.000000,3800.000000,3781.000000,20000.000000,108.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17572.000000,13.946742,100.912703,4527.000000,4000.000000,3781.000000,40000.000000,240.000000,3.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,23429.000000,12160.000000,105.222114,20688.000000,20003.000000,10508.000000,390000.000000,10074.000000,96.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
project_df.isnull()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23430,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
23431,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23432,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
23433,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False

In [9]:
project_df.isnull().any() # .any() เอาค่าความจริงในคอลัมมา or กัน

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [10]:
project_df.isnull().any().any()

True

In [11]:
project_df.isnull().all() # .all() เอาค่าความจริงในคอลัมมา and กัน

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
developer_name_th         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
date_created              False
date_finish               False
date_updated              False
source                    False
url_project               False
dtype: bool

###วิธีที่ 1 delete records with missing data (dropna())


```
# null, Nan(not a numder), na (not authorised/not available)==missing
```

In [12]:
project_df.shape

(23434, 45)

In [13]:
unit_df.shape

(42625, 27)

In [14]:
project_df.dropna()

Empty DataFrame
Columns: [row_number, project_id, name_en, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, price_min, developer_id, developer_name_en, developer_name_th, latitude, longitude, neighborhood_id, neighborhood_name_en, neighborhood_name_th, subdistrict_id, subdistrict_name_en, subdistrict_name_th, district_id, district_name_en, district_name_th, province_id, province_name_en, province_name_th, zipcode, count_elevator, count_elevator_service, count_floor, count_parking, count_tower, count_unit, count_unittype, facility_clubhouse, facility_fitness, facility_meeting, facility_park, facility_playground, facility_pool, facility_security, date_created, date_finish, date_updated, source, url_project]
Index: []

[0 rows x 45 columns]

In [15]:
unit_df.dropna()

Empty DataFrame
Columns: [row_number, unittype_id, project_id, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, area_total_min_wa, area_usable_min, price_min, count_airconditioner, count_elevator, count_floor_internal, count_parking, count_room_bath, count_room_bed, count_room_dinning, count_room_guest, count_room_kitchen, count_room_living, count_room_maid, count_room_storage, count_room_utility, date_created, date_updated, source, url_unittype]
Index: []

[0 rows x 27 columns]

![image.png]()

In [16]:
project_df.dropna(axis=1)

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246
...,...,...,...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,developer_1760,13.814468
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,developer_1793,13.834361
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,developer_2217,13.859872
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,developer_1004,18.808447
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,developer_10510,12.684945

In [17]:
project_df.dropna(axis=1).isnull().any().any()

False

In [18]:
print(project_df.isnull().any().any())
print(project_df.shape)

True
(23434, 45)

In [19]:
project_df2=project_df.dropna(axis=1)
project_df2.head()

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246

In [20]:
project_df.iloc[:5,-7:]

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [21]:
project_df.iloc[:5,-7:].dropna(thresh=5)

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [22]:
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [23]:
project_df.dropna(subset=['propertytype_name_en','price_min'],inplace=True)

#Quiz3
1.กำจัดค่า missing โดยการตัด column ให้น้อยที่สุด โดยที่จำนวน records ที่ไม่มี missing เลย ยังเหลือมากกว่า 80%

2.สร้าง data ที่ค่าใน columns[price_min,neighborhood_name_en,developer_name_en]

In [24]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
project_df.tail()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

1.กำจัดค่า missing โดยการตัด column ให้น้อยที่สุด โดยที่จำนวน records ที่ไม่มี missing เลย ยังเหลือมากกว่า 80%

In [25]:
project_df.dropna(axis=1)

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246
...,...,...,...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,developer_1760,13.814468
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,developer_1793,13.834361
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,developer_2217,13.859872
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,developer_1004,18.808447
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,developer_10510,12.684945

In [26]:
project_df.iloc[:5,-7:].dropna(thresh=5)

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [27]:
project_df.dropna(axis = 1,thresh = 0.8202*project_df.shape[0]).dropna().shape

(19516, 27)

2.สร้าง data ที่ค่าใน columns[price_min,neighborhood_name_en,developer_name_en] มี missing ไม่เกิน 1 ค่า

In [28]:
project_df.dropna(subset = ['price_min', 'neighborhood_name_en','developer_name_en'],thresh = 2)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

##แทนที่ missing ด้วยค่าที่เหมาสม (

In [29]:
unit_df.describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [30]:
unit_df.fillna(0).isnull().any().any()

False

In [31]:
unit_df.fillna({'count_elevator':0}).describe()

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,42625.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,0.0,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,0.0,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,0.0,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,0.0,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,0.0,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,0.0,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,0.0,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [32]:
import numpy as np

In [33]:
np.round(unit_df['count_room_bath'].mean())

2.0

แทนที่ missig ด้วยค่า mean ของกลุ่ม

> Indented block

In [34]:
set(unit_df['propertytype_name_en'])

{'Apartment',
 'Commercial',
 'Condo',
 'Detached House',
 'Home office',
 'Hotel',
 'Land',
 'Office Space',
 'Townhome',
 'Twin house',
 'Warehouse / Factory'}

###ลองทำ กลุ่ม Apartment

เลือก data

In [55]:
unit_df[unit_df['propertytype_name_en']=='Apartment']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
170,35223,unittype_1773,project_930,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:57,2021-02-02 14:24:42,baania,https://baania.com/th/project/คอนโดเทรล-930/st...
1977,20308,unittype_2998,project_1013,VIP 2 Biz,5,Apartment,อพาตเมนต์,NaN,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:05,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
3377,27183,unittype_3050,project_414,Type D,5,Apartment,อพาตเมนต์,NaN,195.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
5925,35461,unittype_5380,project_1802,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:53,baania,https://baania.com/th/project/เดอะ-เกรท-คอนโด-...
9201,15984,5ebe5dd684c1860019f324a5,5ebe5d9c84c1860019f3249f,Studio,5,Apartment,อพาตเมนต์,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:58,2021-02-02 14:50:22,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...
10915,15981,5ebe5df084c1860019f324a9,5ebe5d9c84c1860019f3249f,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:33,2021-01-26 11:24:37,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...
11404,36820,unittype_11469,project_4074,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,30.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
11972,41097,6183cbbeb9424100136bb3f2,6183ca8929f24100138ad0fb,3 Bedroom,5,Apartment,อพาตเมนต์,NaN,250.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-24 12:30:11,2022-01-24 12:08:26,baania,https://baania.com/th/project/เดอะ-แกรนด์-เศรษ...
12822,40225,60a75c53636bb200158f2ef6,60a7574ae23fb00014597233,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:31:56,2021-05-21 14:10:12,baania,https://baania.com/th/project/ชิค-ดิสทริคท์-รา...
13366,39976,6062b59f6bb5970014340065,6062b4acca1e9b0013db19c7,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,2490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-30 15:00:05,2021-03-30 14:29:37,baania,https://baania.com/th/project/นิว-นอร์ดิค-เทรน...
13497,17651,5f3f54636320a6001975129d,5f3f53856320a60019751299,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,236.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:32:07,2021-05-27 13:09:24,baania,https://baania.com/th/project/รวิวรรณ-สเปซ-5f3...
13517,5216,unittype_35213,project_15110,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,84.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:53,2021-03-09 16:02:35,baania,https://baania.com/th/project/ปาร์ควิว-แมนชั่น...
14881,20485,unittype_1953,project_1013,VIP 1 Gold,5,Apartment,อพาตเมนต์,NaN,36.0,1600000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2021-11-12 13:22:53,2020-10-14 20:17:30,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
15569,35469,unittype_5381,project_1803,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:54,baania,https://baania.com/th/project/ไดมอน-คอนโด-1803...
16582,14433,5e7c32a80b71920019aa93c2,5e7c32710b71920019aa93c1,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:33:02,2020-06-19 15:56:59,baania,https://baania.com/th/project/ซัมเมอร์-เพลส-5e...
16700,25,unittype_31110,project_13094,Studio,5,Apartment,อพาตเมนต์,NaN,20.0,1390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:32:30,2021-06-08 15:04:02,baania,https://baania.com/th/project/มีสินดี-อพาร์ทเม...
17142,21371,unittype_3000,project_1013,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-02-02 14:30:07,2021-02-02 14:24:24,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
18701,21850,unittype_9252,project_3180,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,26.0,1790000.0,...,1.0,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
18754,21374,unittype_1575,project_795,โชคชัยทาวเวอร์,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:49,2020-10-14 01:07:22,baania,https://baania.com/th/project/โชคชัยทาวเวอร์-7...
20325,15982,5ebe5e1c84c1860019f324b5,5ebe5d9c84c1860019f3249f,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:33,2021-01-26 11:24:48,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...
20961,21370,unittype_2999,project_1013,Deluxe,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:04,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
23626,36817,unittype_11465,project_4074,Studio,5,Apartment,อพาตเมนต์,NaN,20.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
24450,42379,62610249f18e1c0013e80c26,6260fefc54ecb20016075581,เพนต์เฮ้าส์,5,Apartment,อพาตเมนต์,NaN,228.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-21 14:30:08,2022-04-21 14:10:19,baania,https://baania.com/th/project/เวลา-ชะอำ-เรสซิเ...
25959,27185,unittype_3048,project_414,Type B,5,Apartment,อพาตเมนต์,NaN,162.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
27484,5215,unittype_35214,project_15110,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,120.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:53,2021-03-09 16:02:48,baania,https://baania.com/th/project/ปาร์ควิว-แมนชั่น...
28324,21851,unittype_9253,project_3180,1 Bedroom Front,5,Apartment,อพาตเมนต์,NaN,38.0,1790000.0,...,1.0,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
29189,27184,unittype_3049,project_414,Type C,5,Apartment,อพาตเมนต์,NaN,175.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
32638,21852,unittype_9255,project_3180,Studio Room,5,Apartment,อพาตเมนต์,NaN,40.0,1790000.0,...,1.0,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
32884,41098,6183cbf545b4f80014b2cc99,6183ca8929f24100138ad0fb,Penthouse,5,Apartment,อพาตเมนต์,NaN,450.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-24 12:30:11,2022-01-24 12:08:19,baania,https://baania.com/th/project/เดอะ-แกรนด์-เศรษ...
33055,11996,unittype_4993,project_1577,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:32,2020-10-14 01:10:50,baania,https://baania.com/th/project/คริสตัลคอนโดจอหอ...
35001,24122,unittype_16170,project_6283,ยูเนียนทาวเวอร์,5,Apartment,อพาตเมนต์,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:52,2021-03-09 09:28:09,baania,https://baania.com/th/project/เออร์เบิร์น-เรสซ...
35773,38997,unittype_9257,project_3180,Studio Conner Room (ขายแล้ว),5,Apartment,อพาตเมนต์,NaN,31.0,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:26,2021-02-18 14:53:37,baania,https://baania.com/th/project/ไอเดียบลู-บูทีค-...
35885,18399,5fa52821d0235b0019c19868,5fa527e8c7e7740019437831,Studio,5,Apartment,อพาตเมนต์,NaN,30.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:51,2021-03-08 11:25:27,baania,https://baania.com/th/project/ซีวิค-เพลส-5fa52...
36394,15927,5ebcbacc42ad800019cd16cc,5ebcb99c42ad800019cd16b7,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,90.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:18:34,2020-06-02 16:49:46,baania,https://baania.com/th/project/บลิส-บาย-เดอะ-โอ...
36413,36818,unittype_11476,project_4074,2 Bedroom Plus,5,Apartment,อพาตเมนต์,NaN,52.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
36707,24,unittype_31111,project_13094,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,32.0,2370000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:32:30,2021-06-08 15:04:02,baania,https://baania.com/th/project/มีสินดี-อพาร์ทเม...
37559,36819,unittype_11474,project_4074,1 Bedroom Plus,5,Apartment,อพาตเมนต์,NaN,38.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:05,2020-10-14 00:58:41,baania,https://baania.com/th/project/ลี-เพลส-พัฒนาการ...
38017,18400,5fa52867c7e7740019437834,5fa527e8c7e7740019437831,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,60.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:51,2021-03-08 11:25:39,baania,https://baania.com/th/project/ซีวิค-เพลส-5fa52...
40149,27186,unittype_1080,project_414,Type A,5,Apartment,อพาตเมนต์,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:07,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
40888,41096,6183cb47b9424100136bb3ee,6183ca8929f24100138ad0fb,2 Bedroom,5,Apartment,อพาตเมนต์,NaN,115.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-24 12:30:11,2022-01-24 12:08:33,baania,https://baania.com/th/project/เดอะ-แกรนด์-เศรษ...
40902,27182,unittype_3052,project_414,Type E,5,Apartment,อพาตเมนต์,NaN,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
41908,42377,6261021389233e001362ae1b,6260fefc54ecb20016075581,ดูเพล็กซ์,5,Apartment,อพาตเมนต์,NaN,145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-21 14:30:08,2022-04-21 14:10:19,baania,https://baania.com/th/project/เวลา-ชะอำ-เรสซิเ...

หาค่า mean ของ price_min

In [56]:
unit_df[unit_df['propertytype_name_en']=='Apartment']['price_min'].mean()

1888571.4285714286

แทนค่า missig ของกลุ่ม

In [57]:
unit_df_apart = unit_df[unit_df['propertytype_name_en'] == 'Apartment'].fillna({'price_min':np.round(unit_df[unit_df['propertytype_name_en'] == 'Apartment']['price_min'].mean())})

In [58]:
unit_df_apart.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min               False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

In [59]:
unit_df_condo = unit_df[unit_df['propertytype_name_en'] == 'Condo'].fillna({'price_min':np.round(unit_df[unit_df['propertytype_name_en'] == 'Condo']['price_min'].mean())})

In [60]:
unit_df_condo.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min               False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype            False
dtype: bool

ต่อตารางแนว Y

In [61]:
fused_df = pd.concat([unit_df_apart, unit_df_condo])
print(fused_df.shape)
fused_df.head()

(12759, 27)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
170,35223,unittype_1773,project_930,Studio,5,Apartment,อพาตเมนต์,NaN,NaN,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:57,2021-02-02 14:24:42,baania,https://baania.com/th/project/คอนโดเทรล-930/st...
1977,20308,unittype_2998,project_1013,VIP 2 Biz,5,Apartment,อพาตเมนต์,NaN,30.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:05,2020-10-14 20:17:29,baania,https://baania.com/th/project/เดอะพีลเพิ้ล-พาร...
3377,27183,unittype_3050,project_414,Type D,5,Apartment,อพาตเมนต์,NaN,195.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:09,2020-10-14 00:58:47,baania,https://baania.com/th/project/บ้านราชพฤกษ์-414...
5925,35461,unittype_5380,project_1802,1 Bedroom,5,Apartment,อพาตเมนต์,NaN,NaN,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:53,baania,https://baania.com/th/project/เดอะ-เกรท-คอนโด-...
9201,15984,5ebe5dd684c1860019f324a5,5ebe5d9c84c1860019f3249f,Studio,5,Apartment,อพาตเมนต์,NaN,34.0,1888571.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:29:58,2021-02-02 14:50:22,baania,https://baania.com/th/project/นิว-นอร์ดิค-คลับ...

วนลูปกลุ่ม

In [62]:
set(unit_df['propertytype_name_en'])

{'Apartment',
 'Commercial',
 'Condo',
 'Detached House',
 'Home office',
 'Hotel',
 'Land',
 'Office Space',
 'Townhome',
 'Twin house',
 'Warehouse / Factory'}

In [63]:
unit_df_temp0=unit_df_condo = unit_df[unit_df['propertytype_name_en'] == list(set(unit_df['propertytype_name_en']))[0]].fillna({'price_min':np.round(unit_df[unit_df['propertytype_name_en'] == list(set(unit_df['propertytype_name_en']))[0]]['price_min'].mean())})
for group in list(set(unit_df['propertytype_name_en'])):
 print(group)
 unit_df_temp1=unit_df_condo = unit_df[unit_df['propertytype_name_en'] ==group].fillna({'price_min':np.round(unit_df[unit_df['propertytype_name_en'] ==group]['price_min'].mean())})
 unit_df_temp0=pd.concat([unit_df_temp0, unit_df_temp1])

Land
Hotel
Twin house
Condo
Office Space
Commercial
Apartment
Townhome
Warehouse / Factory
Home office
Detached House

In [64]:
unit_df_temp0.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min               False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

In [65]:
unit_df_temp0.shape

(42632, 27)

In [66]:
unit_df.shape

(42625, 27)

In [67]:
unit_df.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype             True
dtype: bool

### ต่อตารางในแนวแกน X(เพิ่ม feature ให้กับ data

In [68]:
project_df.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [69]:
unit_df.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

In [70]:
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

### Merge (เอาตาราง 2 อัน มารวมกัน)

In [71]:
merged_table = unit_df.merge(project_df,left_on='project_id',right_on='project_id')
merged_table.head()

,row_number_x,unittype_id,project_id,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,area_total_min_wa,area_usable_min,price_min_x,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created_y,date_finish,date_updated_y,source_y,url_project
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,38108,unittype_18502,project_2446,1 Bedroom,2,Condo,คอนโด,NaN,24.0,1390000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
2,2396,unittype_9564,project_2446,1 Bedroom Plus,2,Condo,คอนโด,NaN,29.0,1990000.0,...,NaN,1.0,NaN,1.0,1.0,2016-11-10 16:56:40,2018-01-01 07:00:00,2021-11-19 18:00:09,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
3,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
4,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,2017-01-24 13:55:45,2022-01-01 07:00:00,2022-01-27 14:30:04,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...

### Quiz 4 
ราคาเฉลี่ยบ้านเดี่ยวในจังหวัดขอนแก่นเท่าไร

In [72]:
project_kk=merged_table[(merged_table['province_name_th']=='ขอนแก่น') & (project_df['propertytype_name_th']=='บ้าน')].describe()
project_kk

,row_number_x,propertytype_id_x,area_total_min_wa,area_usable_min,price_min_x,count_airconditioner,count_elevator_x,count_floor_internal,count_parking_x,count_room_bath,...,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,183.000000,183.000000,22.000000,157.000000,1.590000e+02,11.000000,0.0,153.000000,140.000000,179.000000,...,182.000000,152.000000,125.000000,96.000000,104.000000,28.000000,126.000000,56.000000,105.000000,145.000000
mean,25949.989071,1531.497268,50.327273,148.761146,4.117172e+06,2.090909,NaN,1.810458,1.900000,2.463687,...,40013.626374,159.855263,4.112000,0.906250,0.923077,0.392857,0.888889,0.732143,0.961905,0.965517
std,11246.557039,5330.184130,19.327089,84.816933,3.186316e+06,1.044466,NaN,0.509794,0.553602,0.967198,...,49.695570,123.634122,2.748067,0.293011,0.267760,0.497347,0.315524,0.446850,0.192344,0.183098
min,5592.000000,1.000000,4.000000,22.500000,9.200000e+05,1.000000,NaN,1.000000,1.000000,0.000000,...,40000.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16874.000000,1.000000,50.000000,107.000000,2.390000e+06,1.000000,NaN,2.000000,2.000000,2.000000,...,40000.000000,63.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,21439.000000,1.000000,54.500000,150.000000,3.500000e+06,2.000000,NaN,2.000000,2.000000,3.000000,...,40000.000000,127.500000,4.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,35414.000000,2.000000,60.000000,175.000000,4.720000e+06,3.000000,NaN,2.000000,2.000000,3.000000,...,40000.000000,269.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,41927.000000,20000.000000,80.000000,520.000000,1.958000e+07,4.000000,NaN,3.000000,4.000000,5.000000,...,40320.000000,710.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

###เฉลย

In [73]:
merged_table[(merged_table['province_name_th']=='ขอนแก่น') & (merged_table['propertytype_name_th_x']=='บ้าน')]['price_min_x'].mean()

3790422.3908205843

### Map

In [54]:
unit_df['propertytype_name_th'] = unit_df['project_id'].map(project_df.set_index('project_id'))['province_name_th']

ValueError: ignored

![image.png]()

![image.png]()